body {
	background:url(product_back.jpeg) ; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial;
}
h3{  
    color: #ffffff;
}
div.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}